{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="card" style="text-align: center;">
        <h1>Welcome to the Chat Application</h1>
        <p style="margin-bottom: 25px; color: var(--secondary-color);">Please choose an option:</p>
        <form action="{{url_for('send_form')}}" method="POST">
            <input type="submit" name="Login" value="Login" class="btn btn-primary">
            <input type="submit" name="Register" value="Register" class="btn btn-secondary">
        </form>
    </div>
{% endblock %}